<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5 ml-5">
      <h2>ユーザー情報</h2>
      <%= render 'user_info', user: @user %>
    </div>
    <div class="col-md-8 mt-5">
      <h2>ユーザーの投稿</h2>
          <%= render 'articles/article_outline', articles: @articles %>
    </div>
  </div>
</div>