<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h2 class="text-monospace">About...</h2>
    </div>

    <div class="col-md-12 mt-3  d-flex justify-content-center">
      <p class="text-secondary">行方不明のペットを探す飼い主の皆様や、街中で動物を保護した皆様が、<br>
      その動物たちに関する情報収集や情報交換を行えるペット捜索SNSサイトです。<br>
      TOPページの「迷子・保護　発生マップ」には、本サイトに寄せられた迷子・保護情報が<br>
      赤いピンで表示されています。<br>
      ピンをクリックすると、投稿記事の概要が確認でき、そのままクリックすると、記事の詳細ページへ移動できます。<br>
      コメントなど各種機能(詳しくは後ほど記載)に関してはユーザー登録が必須となりますので、まずはユーザー登録をお勧め致します。<br>
      また、飼い主が見つからなかった動物たちを引き取った保護施設が、同サイト上で里親募集をしておりますので<br>
      ご興味のある方は掲示板にて「里親募集」で検索をしてみてください。<br>
      </p>
    </div>

    <div class="col-md-12 mt-5  d-flex justify-content-center">
      <h2 class="text-monospace">How to use this site</h2>
    </div>
    <div class="col-md-12 mt-5  d-flex justify-content-center">
      <p class="text-secondary">
        ◆ユーザー登録無しでも使用可能な機能
      </p>
    </div>
    <div class="col-md-12 offset-md-3">
      <p class="text-secondary">・掲示板</p>
      <p class="text-secondary">
        全国から『迷子』『保護』『里親募集』の情報が投稿されています。<br>
        目的に応じて掲示板内で絞り込みをかけてご利用ください。
      </p>
    </div>
    <div class="col-md-12  offset-md-3">
      <p class="text-secondary">・保護施設</p>
      <p class="text-secondary">
        PetFinderに登録している動物の保護施設が一覧になっています。<br>
        新しいパートナーをお探しの方は、保護された動物たちの里親をぜひご検討ください。
      </p>
    </div>
    <div class="col-md-12 offset-md-3">
      <p class="text-secondary">・お問合せ</p>
      <p class="text-secondary">
        このサイトに関するお問い合わせはページ下部の『お問合せ』から送っていただけます。
      </p>
    </div>

    <div class="col-md-12 mt-5  d-flex justify-content-center">
      <p class="text-secondary">
        ◆ユーザー登録すると使用できる機能
      </p>
    </div>

    <div class="col-md-12 offset-md-3">
      <p class="text-secondary">・フォロー</p>
      <p class="text-secondary">
        ユーザーをフォローすることができます。<br>
        相互フォロー同士のユーザーはDMでメッセージをやりとりすることができます。
      </p>
    </div>

    <div class="col-md-12 offset-md-3">
      <p class="text-secondary">・いいね</p>
      <p class="text-secondary">
        投稿記事をいいねできます。<br>
        いいねした記事は後から一覧で確認できますので。</p>
    </div>

    <div class="col-md-12 offset-md-3">
      <p class="text-secondary">・コメント</p>
      <p class="text-secondary">投稿記事上にコメント欄を設けております。<br>
      登録ユーザーは自由にコメントすることが来ます。
      </p>
    </div>

    <div class="col-md-12 mb-5 offset-md-3">
      <p class="text-secondary">・DM</p>
      <p class="text-secondary">
        コメント上でやりとりしたくない情報などは相手ユーザーと１対１でやりとりできます。
      </p>
    </div>

    <div class="col-md-12 mb-5 offset-md-3">
      <p class="text-secondary">※新規登録について</p>
      <p class="text-secondary">
        『個人ユーザー』か『保護施設』のどちらかでアカウントを作成できます。<br>
        『保護施設』でアカウント登録をすると、住所と電話番号がサイト内で公開されます。<br>
        それを見て、ユーザー登録をしていない人でも問合せされる場合がありますが、<br>
        もしそれを望まない場合は『個人ユーザー』としてご登録ください（ご利用できる機能は同じです）。
      </p>
    </div>


    </div>
  </div>
</div>