<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>Pet Finder</p>
      </div>
      <div class="col-md-8">
        <div class="text-white mt-2 mb-3">
          <button type="button" class="btn btn-dark">
            <i class="fab fa-instagram"></i>
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fab fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fab fa-twitter"></i>
          </button>
        </div>
        <ul class="p-0 list-unstyled">
          <li>
            <%= link_to "About", about_path, class: 'nav-link text-white-50' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>